extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Gestor de Tarefas
            .w3-container
                form.w3-container(action="/adicionarTarefa" method='Post')
                    label.w3-teal
                        b Descrição:
                    input.w3-input.w3-border.w3-light-grey(type='text' name='descricao')
                    label.w3-teal
                        b A fazer até:
                    input.w3-input.w3-border.w3-light-grey(type='date' name='dataLimite')
                    input.w3-btn.w3-blue-grey(type='submit' value='Adicionar Tarefa')
                hr
                h3 Tarefas agendadas
            footer.w3-container.w3-teal
                address Gerado por Gestor de Tarefas
