doctype html
html
  head
    title Arquivo sonoro
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='/javascripts/axios.min.js')
    script(src='/javascripts/utils.js')
  body
    block content
